html,body{
    overflow-x: hidden;
    max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color:#0A2131;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
}
li {
  display: list-item;
  list-style-position: inside;
  color: white;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
#dropbarline{
  border-color:#a9a9a9;
}
#disabledl{
  color:#a9a9a9;
}
h1 {
  line-height: 1.5;
  font-weight:bolder;
  margin-bottom: 0;
  padding-top:1rem;
  padding-bottom: 1.2rem;
  color: white;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #0A2131;
}
h3.main_text_electionintro{
  color: white;
}
h3 {
  font-family: "Poppins", sans-serif;
  color: #0A2131;
  font-weight: bolder;
}
p{
  color:#0A2131;
}
.icon {
  color: #ef8172;
  margin-bottom: 5%;
}
.icon :hover {
  color: #ff4c68;
}
.container-fluid {
  padding: 3% 4% 3%;
  background-color:#0A2131;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 0.7rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2rem;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: bold;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* iphone image */
.iphone-img {
  width: 60%;
  position: absolute;
  right: 30%;
}
.rotate-25 {
  transform: rotate(25deg);
}

.feature-box {
  padding: 5%;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color:#0A2131;
  color: #fff;
}
.carousel-item {
  padding-top: 0%;
  padding-left:9%;
  padding-right:9%;
  /* padding-bottom:9%; */
}
/* .carousel-control-prev{
  position:relative;
  bottom:10px;
} */
.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
  padding: 10px;
}

/* press */
#press {
  background-color:#0A2131;
  text-align: center;
  padding-bottom: 3%;
}
.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}
center {
  color: white;
}
/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.rowm{
  background-color: #FCC83C;
  text-align: center;
  max-width: 100%;
  display: block;
  margin: 0;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 4rem;
  padding: 10px;
}
#scholarlink {
  color: #808080;
  text-align:right;
  padding-right: 10px;
}
#cta {
  background-color:white;
  color: #0A2131;
  text-align: center;
  padding: 40px 15% 10px;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 100px 15% 2%;
}
.spanSpace {
  padding-left: 25px;
  padding-right: 25px;
}
.social {
  padding-bottom: 5%;
}
.list-group-item:hover{
  background-color: #CFD2CF;
  color: black;
}
.list-group-item{
  background-color: #CFD2CF;
  color: black;


}
#blank {
  background-color: #0A2131;
}
#about {
  color: #0A2131;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}
.main_text_history{
  background-color: white;
  padding: 0;
  margin:0;
}
.main_text_history.p{
  margin-bottom: 0;
}
h1.main_text_elsch{
  color: white;
}
p.main_text_ancient{
  color: white;
}
h1.main_text_ancient{
  color: white;
}
.row{
  background-color:#0A2131;
}
#collage{
  margin: 15px;
}
.text_on_media{
  background-color:#0A2131;
  padding: 10px;

}
.main_text_ancient {
  padding-left: 30px;
  padding-right: 30px
}
.main_text_electionintro {
  padding-left: 30px;
  padding-right: 30px
}
.media_margin {
  margin-right: 15px;
}